<div class="container">
    
    <div class="row">
        
        <div class="col">
    
<% if @book.errors.any? %>

<ul>

    <%= @book.errors.count %>errors prohibited this book from being saved:

    <% @book.errors.full_messages.each do |message| %>

    <li><%= message %></li>

    <% end %>

</ul>

<% end %>

<h1 class="">Books</h1>

<table>

  <thead>

    <tr>

      <th>Title</th>

      <th>Body</th>

      <th></th>

    </tr>

  </thead>

  <tbody>

    <% @books.each do |book| %>

     <tr>
       
      <!--投稿されたタイトル表示-->
      <td><%= book.title %></td>
      <!--投稿された説明表示-->
      <td><%= book.body %></td>
      
      <!--show-->
      <td><%= link_to "Show", book_path(book[:id]), class: "btn btn-success btn-sm" %></td>
      <!--edit-->
      <td><%= link_to "Edit", edit_book_path(book), class: "btn btn-secondary btn-sm" %></td>
      <!--destroy-->
      <td><%= link_to "Destroy",book_path(book), method: :delete, class: "btn btn-danger btn-sm", "data-confirm" => "Aer you sure?" %></td>

     </tr>

    <% end %>

  </tbody>

</table>

<h1>New book</h1>

<%= form_with model: @book do |f| %>

   <h4>Title</h4>
   
   <div class="field">
     
   <%= f.text_field :title %></br>
   
   </div>

   <h4>Body</h4>
   
   <div class="field">
     
   <%= f.text_area :body %></br>
   
   </div>
   
   <div class="field">

   <%= f.submit "Create Book" %>
   
   </div>

 </div>

<% end %>

    </div>

  </div>
  
</div>
